{  "$schema": "https://json.schemastore.org/swcrc",
  "sourceMaps": true,
  "jsc": {
    "parser": {
      "syntax": "typescript",
      "decorators": true,
      "dynamicImport": true
    },
   
    "transform": {
      "legacyDecorator": true,
      "decoratorMetadata": true
    },
    "baseUrl": "./"
  },
    "module": {
      "type": "es6",
      "strict": false,
      "strictMode": true,
      "lazy": true,
      "noInterop": false
  },
  "minify": false
}
